/* Add these styles to your CSS file */

.recent-article {
  position: relative;
}

.recent-article-image {
  width: 100%;
  height: auto;
}

.modal {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.3s;
}

.modal-open {
  display: block;
}

.modal-text {
  text-align: center;
  font-size: large;
}

.recent-article:hover .modal {
  display: block;
}


:root{
  --black: black;
  --white: rgb(255, 255, 255);
  --bg: rgb(121, 34, 63);
  --darkbg: rgb(69, 12, 34);
  --lightbg: rgb(255, 226, 236);
}

body {
  background-color: var(--bg);
  font-family: 'Source Serif 4';
  overflow-x: hidden;
  margin: 0;
}

#home-body {
  padding-top: 0;
}

/* nav bar */
nav {
  display: flex;
  justify-content: center;
  background-color: var(--bg);
}

nav > a {
  flex: 1;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 25px;
  color: var(--lightbg);
  transition: background-color 0.25s ease;
  margin-bottom: 0px;
}

nav > a:hover {
  background-color: var(--darkbg);
}

/* website title and subtitle */
#header {
  background: var(--darkbg);
  font-family: 'Cedarville Cursive', cursive;
}

.blog-header {
  background-color: var(--darkbg);
  text-align: center;
  align-items: center;
  color: var(--white);
}

.blog-header > h1 {
  font-size: 10vw;
  margin: 0px;
  padding-top: 0.5vw;
}

.blog-header > h2 {
  font-size: 3vw;
  margin-top: 1vw;
  padding-bottom: 2vw;
}

/* trending and recent articles in grid */
.grid-container {
  display: grid;
  max-width: 100vw;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px; /* Adjust the gap between items as needed */
  padding: 20px; /* Add padding as needed */
}

.grid-header {
  text-align: center;
}

.grid-heading {
  color: var(--lightbg);
  text-align: center;
  font-family: cursive;
  margin-top: 1vw;
  font-size: 3vw;
}

.grid-item {
  text-align: center;
  padding: 1vw;
  box-sizing: border-box;
}

/*trending */
.trending-article-image {
  width: 50vw;
  height: 30vw;
  border-radius: 1vw;
}

.trending-article-div {
  background: var(--bg);
}

/* Recent Articles */

.recent-article-date {
  font-size: 1vw;
}

.recent-article-title {
  font-size: 2vw;
  margin: 0;
}

.recent-article-subtitle {
  max-width: 75%;
  font-size: 1.5vw;
  margin: 0 auto;
  margin-top: 0.5vw;
}

.recent-article-author {
  margin-top: 0.5vw;
  margin-bottom: 2vw;
  font-size: 1vw;
}

.recent-article-image {
  width: 25vw;
  height: 15vw;
  border-radius: 0.5vw;
}

/* trending now */
#trending-now {
  margin: 0vw;
}

.grid-item {
  text-align: center;
  padding: 1vw;
  box-sizing: border-box;
  border: 5px solid var(--darkbg); 
  margin: 30px; 
  background-color: var(--lightbg);
  border-radius: 0.75vw;
}

/* article pages */

.article {
  display: flex;
  justify-content: center;
}

.article-box {
  padding: 5vw;
  padding-top: 0;
  width: 85vw;
  background: var(--lightbg);
  border-radius: 1vw;
}

.article-author {
  font-size: 2vw;
}

.article-title {
  font-size: 4vw;
  margin: 0;
}

.article-subtitle {
  font-size: 2.5vw;
}

.article-date {
  font-size: 1.5vw;
  margin-top: 0;
}

.article-image {
  width: 50vw;
  border-radius: 1vw;
}

.article-writing {
  font-size: 1.5vw;
}
