:root{
  --black: black;
  --white: rgb(255, 255, 255);
  --bg: rgb(121, 34, 63);
  --darkbg: rgb(69, 12, 34);
  --lightbg: rgb(255, 226, 236);
  --lesslightbg: rgb(255, 63, 130);
  --lightpink: rgb(255, 126, 171);
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('../public/SourceSerif4.ttf') format('ttf');
}

body {
  background-color: var(--bg);
  font-family: 'Source Serif 4';
  overflow-x: hidden;
  margin: 0;
  margin-top: 3.75vw;
}

#home-body {
  padding-top: 0;
}

/* scroll menu */
.scroll-menu {
  display: flex;
  justify-content: left;
}

.scroll-menu-button {
  background-color: var(--bg);
  background-position: left;
  background-repeat: no-repeat;
  background-image: url('../public/winerLogo.png');
  background-size: 5vw 5vw;
  width: 100vw;
  height: 7.5vw;
  border: none;
  margin: 0;
  border-bottom: 0.3vw solid var(--darkbg);


  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
}

.scroll-menu-button p {
  font-family: cursive;
  font-size: 5vw;
  margin-left: 5vw;
  display: flex;
  align-items: center;
  color: white;
}

/* nav bar */
nav {
  display: flex;
  justify-content: center;
  background-color: var(--bg);
}

nav > a {
  flex: 1;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 25px;
  color: var(--white);
  transition: background-color 0.25s ease;
  margin-bottom: 0px;
}

nav > a:hover {
  background-color: var(--darkbg);
}

/* website title and subtitle */
#header {
  background: var(--darkbg);
  font-family: 'Cedarville Cursive', cursive;
}



.blog-header {
  background-color: var(--darkbg);
  text-align: center;
  align-items: center;
  color: var(--white);
}

.blog-header > h1 {
  font-size: 10vw;
  margin: 0px;
  padding-top: 0.5vw;
}

.blog-header > h2 {
  font-size: 3vw;
  margin-top: 1vw;
  padding-bottom: 2vw;
}

.grid-container {
  display: grid;
  max-width: 100vw;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  padding: 20px;
}

.grid-header {
  text-align: center;
}

.grid-heading {
  color: var(--white);
  text-align: center;
  font-family: cursive;
  margin-top: 1vw;
  font-size: 3vw;
}

.grid-item {
  text-align: center;
  padding: 1vw;
  box-sizing: border-box;
}

/*trending */
.trending-article-image {
  width: 50vw;
  height: 30vw;
  border-radius: 1vw;
}

.trending-article-div {
  background: var(--bg);
}

/* Recent Articles */

.recent-article-date {
  font-size: 1vw;
}

.recent-article-title {
  font-size: 2vw;
  margin: 0;
}

.recent-article-subtitle {
  max-width: 75%;
  font-size: 1.25vw;
  margin: 0 auto;
  margin-top: 0.5vw;
}

.recent-article-author {
  margin-top: 0.5vw;
  margin-bottom: 2vw;
  font-size: 1vw;
}

.recent-article-image {
  width: 25vw;
  height: 15vw;
  border-radius: 0.5vw;
}

/* trending now */
#trending-now {
  margin: 0vw;
}

.grid-item {
  text-align: center;
  padding: 1vw;
  box-sizing: border-box;
  border: 5px solid var(--darkbg); 
  margin: 30px; 
  background-color: var(--lightbg);
  border-radius: 0.75vw;
}

/* article pages */
.article {
  display: flex;
  justify-content: center;
}

.article-box {
  padding: 5vw;
  padding-top: 0;
  width: 85vw;
  background: var(--lightbg);
  border-radius: 1vw;
}

.article-author {
  font-size: 2vw;
}

.article-title {
  font-size: 4vw;
  margin: 0;
}

.article-subtitle {
  font-size: 2.5vw;
}

.article-date {
  font-size: 1.5vw;
  margin-top: 0;
}

.article-image {
  width: 50vw;
  border-radius: 1vw;
}

.article-writing {
  font-size: 1.5vw;
}

/* about */
.about-image {
  border-radius: 1vw;
}

.about-clickable-section {
  background-color: var(--lightpink);
  transition: background-color 0.25s ease; 
}

.about-clickable-section:hover {
  background-color: var(--lesslightbg);
}

#about-us {
  background-color: var(--lightpink);
}

/* contact */
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-box {
  background-color: var(--lightpink);
  transition: background-color 0.25s ease;
}

.contact-box:hover {
  background-color: var(--lesslightbg);
}

#contact-button {
  text-decoration: none;
  color: white;
}